*, *::after, *::before{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

body{
    background: linear-gradient(to right, hsl(200,100%,30%), hsl(175,100%,50%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
   
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255,.8);
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    
}

.clock .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .number1{
    --rotation: 30deg;
}
.clock .number2{
    --rotation: 60deg;
}
.clock .number3{
    --rotation: 90deg;
}
.clock .number4{
    --rotation: 120deg;
}
.clock .number5{
    --rotation: 150deg;
}
.clock .number6{
    --rotation: 180deg;
}
.clock .number7{
    --rotation: 210deg;
}
.clock .number8{
    --rotation: 240deg;
}
.clock .number9{
    --rotation: 270deg;
}
.clock .number10{
    --rotation: 300deg;
}
.clock .number11{
    --rotation: 330deg;
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.clock .hand{
    background: radial-gradient(black, red);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform-origin: 100%; /*La propriété transform-origin permet de modifier l'origine du repère pour les opérations de transformation d'un élément.*/
    transform: rotate(90deg);
    transition: all 0.05s ease;
} 
    
.clock .hand.second{
    width: 48%;
    height: 3px;
    right: 50%;
}     
.clock .hand.minute{
    width: 44%;
    height: 6px;
    right: 50%;
}     
.clock .hand.hour{
    align-items: center;
    width: 38%;
    height: 9px;
    right: 50%;
}     
    